<toolbar></toolbar>

<div layout="row" flex>

    <md-sidenav md-component-id="left" 
                layout-gt-sm="column"
                md-whiteframe="4">

        <md-toolbar class="color-blue">
          <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>

        <md-content layout-margin>
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" ui-sref="form">
              <h3>Customer Survey</h3>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" ui-sref="results">
              <h3>Results</h3>
            </div>
          </md-list-item>
        </md-list>

      </md-content>

    </md-sidenav>
    
    <md-content flex>
    <md-tabs class="heightyo" md-stretch-tabs="always">
        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}">
          <md-content class="md-padding">

            <div ng-repeat="t in tab.categories">
              
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <h2>
                    <span>{{t.subTitle}}</span>
                  </h2>
                  <span flex></span>
                </div>
              </md-toolbar>

              <md-content>
                
                    <div layout="row" class="rowwrapyo">
                          <md-input-container ng-repeat="input in t.inputs" 
                                              class="md-block" 
                                              flex="50"
                                              ng-hide="t.subTitle === 'Pure Configuration Inputs' || t.subTitle === 'Costs'">
                            <label class="form-label">{{input.inputTitle}}</label>
                            <input ng-if="input.type !== 'boolean'" ng-model="input.value">
                            <md-switch class="md-primary" ng-if="input.type === 'boolean'" ng-model="input.value">
                              <span yes-no="input.value"></span>
                            </md-switch>
                          </md-input-container>


                    </div>

                    <!-- CONGIG LIST -->
                    <md-table-container ng-show="t.subTitle === 'Pure Configuration Inputs' || t.subTitle === 'Costs'">
                      <table md-table>
                        <tbody md-body>
                          <tr md-row ng-repeat="input in t.inputs">
                            <td md-cell>{{input.inputTitle}}</td>
                            <td md-cell>{{input.value}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </md-table-container>
                
              </md-content>

            </div>

          </md-content>
        </md-tab>
    </md-tabs>
    </md-content>

</div>